<div class="container py-5">
    <div class="row">
        <div class="col-md-7 offset-md-1">
           <ng-container *ngFor="let post of allPost">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">{{post.title}}</div>
                <div class="card-body">
                  <p class="card-text">{{post.body}}</p>
                </div>
                <div class="card-footer text-right">
                    <button type="button" class="btn btn-outline-success mr-3" [routerLink]="['/updatepost',post.id]">Edit</button>
                    <button type="button" class="btn btn-outline-danger" (click)="onDelete(post.id)">Delete</button>
                </div>
            </div>
           </ng-container>
        </div>
    </div>
</div>
